:root {
    /* FONT VARIABLES */
--space: 'Space Grotesk', sans-serif;
--work: 'Work Sans', sans-serif;

    /* COLOR VARIABLES */

--dark-gray: #3d3d3d;
--light-gray: #9C9C9B; 
--white: #FBFAF8;

--dark-blue: #5E4AE3;
--light-blue: #449DD1;
--dark-red: #DB5461;
--light-red: #DE646F; 
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0; 
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 
}

body {
    background-color: var(--dark-gray);
    font-family: var(--work);
    color: var(--white);
}

#navbar {
  display: flex; 
  justify-content: space-around;
  align-items: center;
  height: 4rem; 
  background-color: var(--light-red);
}

.links {
  width: 40%; 
  display: flex;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
}

.nav-link:hover {
  transform: scale(1.5);
}

.section {
  height: 90vh;
}

#welcome-section {
    position: relative;
    /* height: 90vh; */
}

.headers {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .2rem;
    animation: slide-in-left 1s ease-out;
}

.subheader {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--dark-red);
    animation: blink-2 1s 1s; 
}

#projects {
  background-image: linear-gradient(
    to right bottom, 
    rgba(68, 157, 209, 0.8),
    rgba(94, 74, 227, 0.8));
    height: 100vh; 
}

.cards {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.project-tile {
  height: 19rem;
  width: 17rem;
}

.card__img {
  height: 80%;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card__footer {
  background-color: var(--light-red);
  height: 20%;
  margin-top: -1rem;
  display: flex; 
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.card__link {
  text-decoration: none;
  color: var(--dark-gray)
}

.card__link:hover {
  text-shadow: 2px 2px rgba(0, 0, 0, .2);
  transform: scale(1.1);
}

/* ANIMATIONS */

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }